body {
  font-family: "Roboto";
}

.specialistion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headersection {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 100px 0;
  padding: 100px 30px 40px 30px;
}
.container {
  display: flex;
  flex-direction: row;
  width: 940px;
  justify-content: space-between;
  align-items: center;
}

.headerimg {
  width: 100%;
}

.headerimgdiv {
  width: 40%;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 40px;
}
.headertext {
  width: 60%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
#headerbtn {
  padding: 10px 15px;
  background-color: red;
  color: white;
  border: none;
  font-weight: 100;
  letter-spacing: 2px;
}
.headertext h1 {
  margin: 0;
}

.headertext h2 {
  font-size: 20px;
  font-weight: 400;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}

.navlink {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}
.navtitle {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.navlottie {
  width: 50px;
  height: 50px;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mainnav {
  margin: 25px 0;
  display: flex;
  justify-content: center;
}
.mainnavtitle {
  color: red;
  font-weight: 600;
}
nav button {
  letter-spacing: 2px;
  font-weight: 100;
}
.feedback {
  display: flex;
  flex-direction: row;
  margin: 64px 0;
}

.fd {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}
.fd span {
  font-size: 30px;
  color: red;
  font-weight: 600;
}
.specs {
  display: flex;
  display: row;
}
.specstext {
  padding: 0 10px;
  font-weight: 500;
}
.fd p {
  margin-top: 5px;
}
